{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sitapea</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

    <script src="{% static 'main/js/jquery.min.js' %}"></script>
    <script src="{% static 'main/js/jquery-ui.min.js' %}"></script>
</head>
<body>
    <div id="header">
        <div class="mode-selector-buttons">
            <div class="button mode-selector"><button id="arrival">Приход</button></div>
            <div class="button"><button id="hide-pinpad-button">На главную</button></div>
            <div class="button mode-selector"><button id="leaving">Уход</button></div>
        </div>
    </div>
    <div id="clock"></div>
	<div id="PINform">
        <div class="PINcode-container">
            <input id="PINcode" type='password' value='' name='pincode' maxlength='6' disabled/>
        </div>
        <div class="PINpad-container">
            <table id="PINpad" >
                <tr>
                    <td><input type='button' class='PINbutton number' name='1' value='1' id='1' /></td>
                    <td><input type='button' class='PINbutton number' name='2' value='2' id='2' /></td>
                    <td><input type='button' class='PINbutton number' name='3' value='3' id='3' /></td>
                    <td rowspan="2"><input type='button' class='PINbutton clear' name='-' value='×' id='-'/></td>
                </tr>
                <tr>
                    <td><input type='button' class='PINbutton number' name='4' value='4' id='4' /></td>
                    <td><input type='button' class='PINbutton number' name='5' value='5' id='5' /></td>
                    <td><input type='button' class='PINbutton number' name='6' value='6' id='6' /></td>
                </tr>
                <tr>
                    <td><input type='button' class='PINbutton number' name='7' value='7' id='7' /></td>
                    <td><input type='button' class='PINbutton number' name='8' value='8' id='8' /></td>
                    <td><input type='button' class='PINbutton number' name='9' value='9' id='9' /></td>
                    <td rowspan="2"><input type='button' class='PINbutton enter' name='+' value='↵' id='+' /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type='button' class='PINbutton number' name='0' value='0' id='0' /></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div id="footer">
        <div class="result error">
            te<br>st
        </div>
    </div>
    <script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>